<form id="drivingform" method="get">
  {% include "forms/csrf.html.twig" %}
  <div class="form-group has-feedback">
      <div class = "row">
      <div class="col-md-3"></div>
        <div class="col-md-5">
      <h3> How long do you want your driver</h3>
              <select class="form-control" onchange="showDiv(this)">
          <option value="250">< 6 hours</option>
          <option value="500">6 to 12 hours</option>
          <option value="750">12 to 24 hours</option>
          <option value="1000">1 day</option>
          <option value="1500">> 2 days</option>
            </select>
            </div></div>

    <script>
    function showDiv(select){
       if(select.value==250){
        document.getElementById('rs250').style.display = "block";
        document.getElementById('rs500').style.display = "none";
        document.getElementById('rs750').style.display = "none";
        document.getElementById('rs1000').style.display = "none";
        document.getElementById('rs1500').style.display = "none";

       }

       else if (select.value==500) {
         document.getElementById('rs250').style.display = "none";
         document.getElementById('rs500').style.display = "block";
         document.getElementById('rs750').style.display = "none";
         document.getElementById('rs1000').style.display = "none";
         document.getElementById('rs1500').style.display = "none";
       }

       else if (select.value==750) {
         document.getElementById('rs250').style.display = "none";
         document.getElementById('rs500').style.display = "none";
         document.getElementById('rs750').style.display = "block";
         document.getElementById('rs1000').style.display = "none";
         document.getElementById('rs1500').style.display = "none";
       }

       else if (select.value==1000) {
         document.getElementById('rs250').style.display = "none";
         document.getElementById('rs500').style.display = "none";
         document.getElementById('rs750').style.display = "none";
         document.getElementById('rs1000').style.display = "block";
         document.getElementById('rs1500').style.display = "none";
       }

       else if (select.value==1500) {
         document.getElementById('rs250').style.display = "none";
         document.getElementById('rs500').style.display = "none";
         document.getElementById('rs750').style.display = "none";
         document.getElementById('rs1000').style.display = "none";
         document.getElementById('rs1500').style.display = "block";
       }

       else{
        document.getElementById('hidden_div').style.display = "none";
       }
    }
    </script>
    <div class="row">
      <div class="col-md-3"> </div>
        <div class="col-md-5">
          <h3>The Driver Bata is: </h3>
          <h3 id ="rs250">₹ 250</h3>
          <h3 id ="rs500" style="display: none;">₹ 500</h3>
          <h3 id ="rs750" style="display: none;">₹ 750</h3>
          <h3 id ="rs1000" style="display: none;">₹ 1000</h3>
          <h3 id ="rs1500" style="display: none;">₹ 1500</h3>
        </div>
      </div>
      <div class = "row">
      <div class="col-md-3"></div>
        <div class="col-md-5">
      <h3>Where do you want our driver to come</h3>

        <input type="text" id="driving_area" name="driving_area" class="form-control" placeholder="Enter your area" required  />
        </div>
            </div>

                <div class = "row">
                  <div class="col-md-3"> </div>
                  <div class="col-md-5">
                  <button type="submit" id="submitDriving" class="btn btn-primary btn-lg btn-block">Check Availability</button><br>
                  <button type="button" class="btn btn-default btn-xs"><a href="{{site.uri.public}}#booking">< Book some other service</a></button>
                  </div></div>
</div>
                </form>
