{% extends "pages/abstract/base.html.twig" %}

{% block stylesheets_page_group %}
{% endblock %}

{% block body_attributes %}
    class="hold-transition skin-{{site.AdminLTE.skin}} layout-top-nav"
{% endblock %}

{% block content %}

<div class="wrapper">

  <header class="main-header">
    {% include "navigation/main-nav.html.twig" %}
  </header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div>
        <!-- Content Header (Page header) -->
        {% block content_header %}
        <br></br>
        {% endblock %}
        <section class="content">
            {% block body_matter %}{% endblock %}
        </section>
    </div>
  </div>
  <!-- /.content-wrapper -->

  {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %}
</div>
<!-- ./wrapper -->

{% endblock %}
