{% block body_matter %}

<div class="container">
  <div class="row">
<h4>
    <div class="col-md-3">
      <a href="{{site.uri.public}}/cooking/bookings">Previous Bookings</a>
    </div>

    <div class="col-md-3">
      <a href="{{site.uri.public}}/cooking/cancellation">Cancel your previous Bookings</a>
    </div>

    <div class="col-md-4">
      <a href="{{site.uri.public}}/cooking/bill">View your bill for previous Bookings</a>
    </div>


  </div>
</div>
</h4>
{% endblock %}
